*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/KotorResearch/nbproject/private/
/KotorResearch/build/
/KotorResearch/dist/
/HexEditor/nbproject/private/
/HexEditor/build/
/nes-java/nbproject/private/
/nes-java/build/
/nes-java/dist/
/CheckNp/nbproject/private/
/Gooddies/build/
/CheckNp/build/
/Gooddies/nbproject/private/
/Gooddies/dist/
/CheckNp/dist/