/Gooddies/build
/Gooddies/dist
/Gooddies/lib
/JvJna/build
/KotorResearch/build
/MacroProcessor/build
/MacroProcessor/.jacocoverage
/nes-java/.jacocoverage
/nes-java/build
/nes-java/dist
/SettingsManager/build
/SimplePl/target
/SmTvManip/build
/SmTvManip/dist
/jogl/.jacocoverage
/jogl/build
/jogl/dist
/Gooddies/nbproject/private
/KotorResearch/nbproject/private
/SettingsManager/nbproject/private
/SimplePl/nbproject
/nes-java/nbproject/private
/SqlProcessorProject/nbproject
/SqlProcessorProject/target
